@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">TechTest</h1>
        <p>
            @Html.ActionLink("Customers", "Index", "Customers")
        </p>
    </section>
</main>