<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="DBConn" value="Data Source=(local);Database=Customers;User Id=admin;Password=password;" /> -->
		<add key="DBConn" value="Server=FNBUGR4JRG3\SQLEXPRESS;Database=Customers;Trusted_Connection=yes;" />
	</appSettings>
</configuration>